<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de placas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <h1>Consulta de Datos de Vehiculo</h1>
    <form action="/buscar" method="post" class="mt-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="placa" placeholder="Ingrese la placa" maxlength="7">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>
    
</body>
</html>
